@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer theme, base, components, utilities;

@source "../app";
@source "../components";
@source "../../node_modules/@drasla/nextjs-theme-kit/dist";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    /*font-size: 0.875rem;*/

    --default-font-family: "Pretendard", sans-serif;
    --font-logo: "Jost", serif;
    --width-aside: 200px;
    --height-header: 70px;
    --height-footer: 40px;

    --color-light-text: rgba(225, 225, 225, 1);
    --color-light-text-disabled: rgba(0, 0, 0, 0.38);
    --color-light-divider: rgba(185, 185, 185, 1);
    --color-light-background: rgb(42, 43, 52);
    --color-light-paper: rgb(32, 33, 41);

    --color-dark-text: rgba(255, 255, 255, 0.9);
    --color-dark-text-disabled: rgba(255, 255, 255, 0.38);
    --color-dark-divider: rgba(88, 88, 88, 1);
    --color-dark-background: rgba(55, 55, 55, 1);
    --color-dark-paper: rgba(38, 38, 38, 1);

    --color-primary-main: rgb(78, 112, 221);
    --color-primary-light: rgb(113, 140, 227);
    --color-primary-dark: rgb(54, 78, 154);
    --color-primary-contrast: rgba(255, 255, 255, 1);

    --color-secondary-main: rgba(156, 39, 176, 1);
    --color-secondary-light: rgba(255, 229, 234, 1);
    --color-secondary-dark: rgba(128, 18, 128, 1);
    --color-secondary-contrast: rgba(255, 255, 255, 1);

    --color-success-main: rgba(76, 175, 80, 1);
    --color-success-light: rgba(229, 242, 229, 1);
    --color-success-dark: rgba(56, 142, 60, 1);
    --color-success-contrast: rgba(255, 255, 255, 1);

    --color-warning-main: rgba(255, 167, 38, 1);
    --color-warning-light: rgba(255, 183, 77, 1);
    --color-warning-dark: rgba(245, 124, 0, 1);
    --color-warning-contrast: rgba(255, 255, 255, 1);

    --color-error-main: rgba(244, 67, 54, 1);
    --color-error-light: rgba(229, 115, 115, 1);
    --color-error-dark: rgba(229, 57, 53, 1);
    --color-error-contrast: rgba(255, 255, 255, 1);

    --color-info-main: rgba(0, 188, 212, 1);
    --color-info-light: rgba(229, 242, 244, 1);
    --color-info-dark: rgba(0, 150, 136, 1);
    --color-info-contrast: rgba(255, 255, 255, 1);

    --color-disabled-main: rgb(147, 147, 147);
    --color-disabled-light: rgb(201, 201, 201);
    --color-disabled-dark: rgb(101, 101, 101);
    --color-disabled-contrast: rgba(255, 255, 255, 1);
}

@theme {
    --width-aside: var(--width-aside);
    --height-header: var(--height-header);

    --left-aside: var(--width-aside);

    --color-light-text: var(--color-light-text);
    --color-light-text-disabled: var(--color-light-text-disabled);
    --color-light-divider: var(--color-light-divider);
    --color-light-background: var(--color-light-background);
    --color-light-paper: var(--color-light-paper);

    --color-dark-text: var(--color-dark-text);
    --color-dark-text-disabled: var(--color-dark-text-disabled);
    --color-dark-divider: var(--color-dark-divider);
    --color-dark-background: var(--color-dark-background);
    --color-dark-paper: var(--color-dark-paper);

    --color-primary-main: var(--color-primary-main);
    --color-primary-light: var(--color-primary-light);
    --color-primary-dark: var(--color-primary-dark);
    --color-primary-contrast: var(--color-primary-contrast);

    --color-secondary-main: var(--color-secondary-main);
    --color-secondary-light: var(--color-secondary-light);
    --color-secondary-dark: var(--color-secondary-dark);
    --color-secondary-contrast: var(--color-secondary-contrast);

    --color-success-main: var(--color-success-main);
    --color-success-light: var(--color-success-light);
    --color-success-dark: var(--color-success-dark);
    --color-success-contrast: var(--color-success-contrast);

    --color-warning-main: var(--color-warning-main);
    --color-warning-light: var(--color-warning-light);
    --color-warning-dark: var(--color-warning-dark);
    --color-warning-contrast: var(--color-warning-contrast);

    --color-error-main: var(--color-error-main);
    --color-error-light: var(--color-error-light);
    --color-error-dark: var(--color-error-dark);
    --color-error-contrast: var(--color-error-contrast);

    --color-info-main: var(--color-info-main);
    --color-info-light: var(--color-info-light);
    --color-info-dark: var(--color-info-dark);
    --color-info-contrast: var(--color-info-contrast);

    --color-disabled-main: var(--color-disabled-main);
    --color-disabled-light: var(--color-disabled-light);
    --color-disabled-dark: var(--color-disabled-dark);
    --color-disabled-contrast: var(--color-disabled-contrast);
}

@layer base {
    .ring-light-divider {
        --tw-ring-color: var(--color-light-divider);
    }

    .ring-dark-divider {
        --tw-ring-color: var(--color-dark-divider);
    }

    .theme-initial {
        @apply text-sm md:text-base text-light-text dark:text-dark-text border-light-divider dark:border-dark-divider bg-light-background dark:bg-dark-background relative antialiased;
    }

    .theme-paper {
        @apply bg-light-paper dark:bg-dark-paper transition-colors duration-200;
    }

    .theme-background {
        @apply bg-light-background dark:bg-dark-background transition-colors duration-200;
    }

    .theme-border {
        @apply border-light-divider dark:border-dark-divider  ring-light-divider dark:ring-dark-divider transition-colors duration-200;
    }

    .ripple {
        position: absolute;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.1);
        transform: scale(0);
        animation: ripple-animation 700ms linear;
        opacity: 0.7;
        pointer-events: none;
    }

    .tooltip-fade-in {
        animation: fade-in-animation 0.2s ease-in-out;
    }

    .tooltip-fade-out {
        animation: fade-out-animation 0.2s ease-in-out;
    }

    @keyframes ripple-animation {
        to {
            transform: scale(4);
            opacity: 0;
        }
    }

    @keyframes fade-in-animation {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fade-out-animation {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
}
